NEXT_PUBLIC_SUPABASE_URL="https://alrvemtvosidnvekkvvc.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFscnZlbXR2b3NpZG52ZWtrdnZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0MjYyODAsImV4cCI6MjEwMjAwMjI4MH0.89Z_MAhmpy-V4nwXSrsCapEXhQsVcdMdTdXOQtu2gwg"